footer {
    color: "#000";
    margin-top: 30px;
    text-align: center;
    vertical-align: center;
}

.footerContainer{
    color: "#000";
    background-color: #bbb;
    height: 35px;
    width: 100%;
    font-size: 11px;
}

.footerContainer span{
    color: "#000";
    margin: 0;
    position: relative;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
}