  .commentCorners {
    border-radius: 5px;
    border: 1px solid #B4C1CE;
    padding: 12px 8px;
    width: calc(100% - 100px);
  }

  .commentButton{
    border: none;
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
    background-color: #1C385B;
    font-weight: 500;
    cursor: pointer;
    color: white;
    width:80px;
  }

  .comment {
    font-size: 14px;
    color: white;
  }

  .commentFrom {
    font-weight: 500;
  }

  .commentDate {
    margin: 0 5px;
  }

  .commentWrapper {
    /* padding: 10px; */
  }

  .commentHr {
    margin: 20px 0;
    background:#dce2ea;
    height: 1px;
    border:none;
  }

  .commentBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    white-space: pre-wrap;
  }

  .commentText {
    margin: 5px;
    margin-left: 10px;
    font-size: 13px;
  }

  .commentEditText {
    margin-left: 5px;
    cursor: pointer;
    border-bottom: 1px dashed darkblue;
    font-size: 10px;
  }

  .commentButtons {
    margin: 5px;
    display: block;
    align-items: center;
    justify-content: space-between;
  }
